//Reset Template
@import 'reset';

//Variables
$border-color: #e0e0e0;
$main-bg-color: #fff;
$sidebar-bg-color: #000;
$text-color: #000;
$sidebar-text-color: #FFF;
$highlight-input-color: rgb(72, 127, 218);
$invalid-color: #dc3434;
$red: #BC2D19;
$light-red:#e36350;
$blue:#0f172b;
$button-base-color:#22BA6A;

$accent-base-color:#22BA6A;

//Styles
#main {
    background-color: $main-bg-color;
    color: $text-color;
    font-family: 'Roboto', sans-serif;
}

#main-sidebar {
    background-color: $sidebar-bg-color;
    color: $sidebar-text-color;
}

#flex-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    overflow: auto;
    justify-content: center;
    align-items: flex-start;
}
#main-container {
    position: relative;
    padding-bottom: 63px;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.shadow {
    box-shadow: 0px 2px 8px 0px rgba(70,70,70,.45);
}

.shadow-light {
    box-shadow: 0px 1px 2px 0px rgba(70, 70, 70, 0.14);
}

@import 'materialInputs';
@import 'buttons';
@import 'loading';
@import 'dashboard';
@import 'cards';
@import 'modal';
@import 'toast';
@import 'dataTable';

// Mobile
@import 'responsive';