#snackbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
    width: 100vw;
    border: 1px solid rgba(156, 156, 156, 0.57);
    height: auto;
    background: #484848;
    overflow: hidden;
    padding: 0px 24px;
    margin-left: 0;
    z-index: 1000000;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: all .3s ease-in-out;
    transition: all .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transform: translateY(100px);
    opacity: 0;
    font-family: 'roboto', sans-serif;


    .title, .content {
        padding: 0px 5px;
        color: #404040;
        font-size: 15px;
        font-weight: normal;
        position: initial;
        //pointer-events: none;
        left: initial;
        top: initial;
        background-color: transparent;
    }

    .title {
        margin-top: 3px;
        font-weight: 700;
    }

    .content {
        margin-top: 3px;
        color: white;
        padding: 24px 0px;
    }

    .snackbar-btn-action {
        color: $accent-base-color;
        position: relative;
        background-color: #484848;
        border: none;
        color: #00927e;
        padding: 7px 8px;
        border-radius: 4px;
        outline: none;
        vertical-align: middle;
        height: 44px;

        &:hover, &:focus {
            background-color: rgba(0, 0, 0, 0.09) !important;
        }
    }
}

.snackbarprogressbar {
    opacity: 100;
    width: 1%;
    height: 5px;
    color: var(--red);
    background-color: var(--red);
    top: 0px;
    left: 0px;
    margin: 0px;
    display: block;
    position: absolute;
    transition: all .3s ease-in-out;
}


.boxedtoast {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    width: 100%;
    border-bottom: 1px solid rgba(156, 156, 156, 0.57);
    height: auto;
    background: white;
    overflow: hidden;
    padding: 10px;
    margin: auto;
    z-index: 1000000;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: all .3s ease-in-out;
    transition: all .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transform: translateY(-100px);
    opacity: 0;
    font-family: 'roboto', sans-serif;

    .title, .content {
        padding: 0px 5px;
        color: #404040;
        font-size: 15px;
        font-weight: normal;
        position: initial;
        //pointer-events: none;
        left: initial;
        top: initial;
        background-color: transparent;
    }

    .title {
        margin-top: 3px;
        font-weight: 700;
    }

    .content {
        margin-top: 3px;
        color: #6d6d6d;
    }
}
